

<ion-content>


  <div class="backgr" >

      <ion-icon slot="icon-only" name="chevron-back" [routerLink]="['/tabs']" routerLinkActive="router-link-active"></ion-icon>



  </div>

  <div class="trans">
    <h1>Political cases</h1>
    <p>
      Political cases
</p>

  </div>

  <div class="text">
<h2>We offer a spectrum of services to corporations and business organisations ,trade associations, tax-exempt organisations, political candidates, campaigns, public officials, political parties, committees, and other contributors.


</h2>

  <h2> We frequently counsel clients regarding compliance to federal, state, and local laws, ensuring they remain aware of any new and proposed legislation.
  </h2>

  <h2>
    We also assist clients with internal and external investigations, provide representation during an enforcement action or audit, draft and implement internal policies and employment contracts, and litigate disputes when necessary.
  </h2>

</div>



</ion-content>
