

<ion-content>


  <div class="backgr" >

      <ion-icon slot="icon-only" name="chevron-back" [routerLink]="['/tabs']" routerLinkActive="router-link-active"></ion-icon>



  </div>

  <div class="trans">
    <h1>Insurance cases</h1>
    <p>
    Insurance law cases
</p>

  </div>

  <div class="text">


    <h2>
      We protect our clients rights and interest over the course of an insurance claim. We handle several aspects of an insurance claim.


    </h2>

    <h2>
      From accident or damage reconstruction to negotiations, we will ensure that our clients do not pay more or receive less than what they deserve.

    </h2>
</div>



</ion-content>

