

ion-tab-bar {
  --background: #28282B !important;
  --color-focused:rgb(248, 248, 248);
  --color-selected:#007662;
  animation-name: example;
  animation-duration: 4s;

  //child of ion-tab-bar
  ion-tab-button{

    padding-left:5px;
    padding-right: 5px;
    border-radius:100px;
transform: translateY();

      ion-icon{
      animation-name: icon;
      animation-duration: 4s;
    }
  }
}



@keyframes example {
  0%   { }
  25%  { }
  50%  {}
  100% {

  }
}

@keyframes icon {
  0%   { }
  25%  { }
  50%  {}
  100% {

  }
}


