<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sign out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">


    <ion-grid >
      <ion-row>
        <ion-col size="6" size-md>
          <div ><img class="colume1" src="/assets/download (3).jpg"></div>
          <div><img class="colume1" src="/assets/cf9b71ced05649033cd2d5132dea68c5.jpg"></div>


        </ion-col>
        <ion-col size="6" size-md>
          <div class=""><img class="colume2" src="/assets/e8e06ff2fc035b6106681f210fcd68f1.jpg"></div>
          <div><img  class="colume2"  src="/assets/ffe69e83467b2e243525d152fd82ab09 (2).jpg"></div>
        </ion-col>
      </ion-row>

  </ion-grid>

  <h5></h5>

    <p class="para">Thank you for visiting the virtual office of Edward E.Obomanu & Co Ibiminabelem Chamber
      Legal Practitioners and Notary Public.
<br><br>
       we will be delighted to see you again another time, goodbye.
  </p>


    <br><br> <br><br>

  </div>













  </ion-content>

