<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Se déconnecter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">


    <ion-grid >
      <ion-row>
        <ion-col size="6" size-md>
          <div ><img class="colume1" src="/assets/cf9b71ced05649033cd2d5132dea68c5.jpg"></div>
          <div><img class="colume1" src="/assets/687c9406-8677-4dc4-a755-87ab598dc8e0.jpg"></div>

        </ion-col>
        <ion-col size="6" size-md>
          <div class=""><img class="colume2" src="/assets/e8e06ff2fc035b6106681f210fcd68f1.jpg"></div>
          <div><img  class="colume2"  src="/assets/ffe69e83467b2e243525d152fd82ab09 (2).jpg"></div>
        </ion-col>
      </ion-row>

  </ion-grid>
  <p class="para">Merci d'avoir visité notre cabinet d'avocats virtuel. Nous serons ravis de vous revoir une autre fois, au revoir.
  </p>
  <br><br>

  </div>













  </ion-content>

