ion-toolbar{
  --background:transparent !important;

}
ion-content{
  --ion-background-color: #FFF5FF!important;

}


ion-icon{
  margin:20px;
  font-size:25px;
  color: #ffffff !important;

}




.backgr{
background-image: url("/assets/offshore_platform.jpg");
height: 400px; /* You must set a specified height */
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
border-bottom-left-radius:25px;
border-bottom-right-radius:25px;
opacity: 1;






}

.trans{
  padding:10px;
  background: #394856;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-left:30px;
  margin-right:30px;
  transform:translateY(-50px);
  border-radius:10px;



}

h1{

    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size:20px;
    padding-top:10px;
    text-align:center;

}


h2{
  color: rgb(0, 0, 0);
  font-family: 'Quicksand', sans-serif;
  font-size:20px;
  text-align:left;
}

p{
  color: rgb(0, 0, 0);
  font-family: 'Quicksand', sans-serif;
  font-size:15px;
  text-align:center;

}


.text{
  margin-left:15px;
  margin-right:15px;
  transform:translateY(-40px);
    h1{
      color: rgb(0, 0, 0);
      font-family: 'Quicksand', sans-serif;
      font-size:20px;
    }
}
