

<ion-content>


  <div class="backgr" >

      <ion-icon slot="icon-only" name="chevron-back" [routerLink]="['/tabs']" routerLinkActive="router-link-active"></ion-icon>



  </div>

  <div class="trans">
    <h1>Oil and Gas</h1>
    <p>
    Our Oil and Gas law practice
</p>

  </div>

  <div class="text">
<h2>We provide advisory services to clients in areas like surface rights, mineral rights, and legal ownership, draft agreements and contracts, provide loan documents and assist in finalizing the process.

</h2>

  <h2>We help landowners and oil and gas representatives navigate the process of determining land ownership, rights and the financial aspects that come with drilling.
  </h2>

</div>



</ion-content>
