

<ion-content>


  <div class="backgr" >

      <ion-icon slot="icon-only" name="chevron-back" [routerLink]="['/tabs']" routerLinkActive="router-link-active"></ion-icon>



  </div>

  <div class="trans">
    <h1>Debt Recovery</h1>
    <p>
    Debt Recovery cases
</p>

  </div>

  <div class="text">

    <h2>When you are swamped with debt, hiring a lawyer to help you recover those debts is the best option, even though it can add to the pile of expenses you already have. The right lawyer, however, can steer you through the legal system, and put you on the right financial track.

</h2>

  <h2>We help our clients recover debt. </h2>


</div>



</ion-content>
