

<ion-content>


  <div class="backgr" >

      <ion-icon slot="icon-only" name="chevron-back" [routerLink]="['/tabs']" routerLinkActive="router-link-active"></ion-icon>



  </div>

  <div class="trans">
    <h1>Maritime law practice</h1>
    <p>
    Our Maritime law practice
</p>

  </div>

  <div class="text">
<h2>We provide advisory services in areas such as   navigable bodies of water, we represent clients in cases relating to shipping, the seas, oceans, and other open bodies of water.
</h2>

  <h2>We review or draft contracts, interview witnesses or write insurance agreements, we protect or defend individuals or companies against personal injury lawsuits.
  </h2>
<h2>
  We advise clients on laws and business transactions and claim liability.
  We interpret laws, rulings and regulations regarding maritime matters for individuals and businesses
  We represent clients or businesses in cases relating to any activity on the sea
  </h2>
<h2>We draft documents, negotiate agreements, and handle complaints about injuries or illnesses that are caused by seacraft or a company disposing waste into water.
  Hence, we will help you review or draft contracts, interview witnesses or write insurance agreements, we protect or defend individuals or companies against personal injury lawsuits.
  </h2>

</div>



</ion-content>
