

<ion-content>


  <div class="backgr" >

      <ion-icon slot="icon-only" name="chevron-back" [routerLink]="['/tabs']" routerLinkActive="router-link-active"></ion-icon>



  </div>

  <div class="trans">
    <h1>Company Secretarial Services</h1>
    <p>
    Our practice
</p>

  </div>

  <div class="text">

    <h2>
      Our firm offers valuable company secretarial services to both domestic and international clients. We advise a diverse range of clients, from start-ups to established corporations.

    </h2>


  <h2>
    We provide company secretaries and directors with technical and practical assistance in all aspects of corporate compliance, corporate governance, administration, and general corporate matters.

  </h2>

  <h2>
    Through proactive and periodic secretarial/legal audits of our corporate clients, we ensure compliance with the law, regulations, and best practices.



  </h2>

  <h2>

    Our firm provides legal advice in the formation, registration, management, and dissolution of companies and other business entities in Nigeria.


  </h2>

<h2>
  We also organize, attend, and record meetings of the board of directors, management, and shareholders.

  Our team assists clients in filing required returns with the appropriate regulatory agencies and provides nominee services.


</h2>
</div>



</ion-content>

