

<ion-content>


  <div class="backgr" >

      <ion-icon slot="icon-only" name="chevron-back" [routerLink]="['/tabs']" routerLinkActive="router-link-active"></ion-icon>



  </div>

  <div class="trans">
    <h1>Corporate law practice</h1>
    <p>
    Our Corporate law practice
</p>

  </div>

  <div class="text">
    <h2>Our duties and services include consulting and leading all corporate legal
      process such as mergers, compliance issues, transactions, partnerships and law
      suits.

</h2>
<h2>We help you prepare the appropriate legal documents for trial proceedings,
evaluate new business partnerships with vendors and subcontractors.
</h2>
    <h2>
      Represent the company in legal proceedings, design and oversee the
      company’s policy and position on legal matters, protect the company against
      legal risks and violations, examine the legal issues related to new products and
      services, negotiate deals on behalf of the company, and guide management on
      regulatory and compliance issues to ensure compliance with legal regulations.
      </h2>
  </div>

</ion-content>
