<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
<div class="container">

</div>


  <div class="blackdiv">
   <!-- white area child div-->

    <div>

      <p class="para">Choose a language
      </p>


      <ion-item  item lines="none" (click)="showBannerAd()">
        <ion-thumbnail slot="start">
          <img src="/assets/download.png  ">
        </ion-thumbnail>
        <ion-label>
          <h2>English</h2>
          <p></p>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-item>


      <ion-item (click)="showInterstitialAd()"  item lines="none" [routerLink]="['/tabs']" routerLinkActive="router-link-active">
        <ion-thumbnail slot="start">
          <img src="/assets/french.png" >
        </ion-thumbnail>
        <ion-label>
          <h2>Francais</h2>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-item>

      <img class="choose" src="/assets/On the way-cuate.svg"  >


      <br><br><br>
   </div>






  </div>





</ion-content>
