

<ion-content>


  <div class="backgr" >

      <ion-icon slot="icon-only" name="chevron-back" [routerLink]="['/tabs']" routerLinkActive="router-link-active"></ion-icon>



  </div>

  <div class="trans">
    <h1>Tax Practice</h1>
    <p>
    Our Tax Practice
</p>

  </div>

  <div class="text">
    <h2>
    Tax law deals with the constitutional, statutory and regulatory rules applicable to taxation in Nigeria.
</h2>
<h2>
    Taxes are charged on the income of individuals and companies operating in Nigeria
</h2>
<h2>
    Our tax lawyers in Nigeria strive to represent clients in judicial proceedings bothering on taxation.

    We have vast experience on various aspects of taxation and regularly provide tax advisory to both individuals and corporations.
  </h2>

  <h2>
    Our firm works with clients to determine the most tax efficient way of carrying on an ongoing business operation in Nigeria, taking into consideration of the taxes imposed by the federal, state, local and local authorities.
  </h2>
<h2>
  We advise individual companies on applicable taxation in their various sectors of the economy.

    Advising on the variety of commercial transactions, benefits of tax payments, negotiation of terms.
    Assisting clients with tax related matters especially in areas of petroleum, gas, new enterprises, lands, joint ventures and mergers & acquisitions.
    </h2>
    <h2> We offer legal advisory and compliance services to clients in areas of corporate income tax, personal income tax, petroleum profit tax and value-added tax.
    Representing clients in tax related disputes arising between parties to a transaction or with the Federal Inland Revenue Service (FIRS) or any tax authorities in Nigeria.
  </h2>
<h2>
    Representing clients before in tax arbitration and tax litigation before the Tax Appeal Tribunal and Courts.
    Representing and advising clients on tax contract negotiations, tax compliance and tax payable with the various level of government.
    Advising on expatriates and non-resident entities taxation.
  </h2>


</div>



</ion-content>
